body{
    margin:0px;
    font-family: 'Viga', sans-serif;
}

h1{

    font-size:50px;
}
h2{
    font-size:40px;
}
.name_highlite{

    color:chocolate;
    font-family:'Lobster', cursive;

}

.half_width {
    width:40%;
    float:left;
    margin-left:5%;
    padding:2%;
}

.half_width img {
    width:100%;
    margin-top:-60px;
}

.top_banar{

    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;

}

section{
    height:500px;
}
.link_botton{
    background-image:linear-gradient(45deg,tomato,lightsalmon);
    text-decoration: none;
    border:2px solid tomato;
    border-radius:5px;
    padding:10px 20px ;
    color:seashell;
    font-size:20px;
    margin-top:30px;
    font-weight: bold;
    

}